version: '3.5'

services:
  libro-sf-web:
    container_name: libro-sf-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - 1000:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - libro-sf-be
    networks:
      - libro-sf-network

  libro-sf-be:
    container_name: libro-sf-be
    build:
      context: docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=libro-sf
    ports:
      - '1100:8000'
    networks:
      - libro-sf-network
    depends_on:
      - libro-sf-postgres
      
  libro-sf-postgres:
    container_name: libro-sf-postgres
    image: postgres:14-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: passwd
      POSTGRES_DB: postgres_symfony
    volumes:
      - libro-sf-pgsql-data:/var/lib/postgresql/data
    networks:
      - libro-sf-network

  libro-sf-rabbit:
    container_name: libro-sf-rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - libro-sf-network

volumes:
  libro-sf-pgsql-data:

networks:
  libro-sf-network:
#    external: true
