{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <img src="{{ asset('images/under-construction.gif') }}" alt="under construction image">
</div>
{% endblock %}
