{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
    <h2>Give your feedback</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>

        <p>
            <a href="{{ path('show_conference', {'id': conference.id}) }}">view</a>
        </p>
    {% endfor %}
{% endblock %}
